<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>CONTACTANOS</title> 
    </head>

    <body>
    
    <nav>
<ul>
<li><a href="index.html">INICIO</a> </li>
<li><a href="productos.html">PRODUCTOS</a> </li>
<li><a href="consejos.html">CONSEJOS PARA LA SALUD</a> </li>
<li><a href="serviciospaseo.html">SERVICIOS DE PASEOS</a> </li>
<li><a href="sucursales.html">SUCURSALES</a> </li>
<li><a href="contactos.html">CONTACTANOS</a> </li>
</ul>
</nav>
    
        <h1>Contáctenos</h1>
        <p style="margin: 0">3915 Av. General Belgrano, 388-4999999</p>
        <p style="margin: 0">Lunes a viernes: 9:00 a.m a 8:00 p.m</p>
        <p style="margin: 0">Sábado a domingo: 9:00 a.m a 12:30 p.m</p>

        <a href="contactos@mail.com.ar">contactos@mail.com.ar</a>

        <div>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
        </div>

        <hr>

       
        <form action="#" method="post">
            <div style="margin-bottom: 10px;">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
            </div>
                
            <div style="margin-bottom: 10px;">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Ingrese un email válido" required>
            </div>
              
            <div style="margin-bottom: 10px;">
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" name="ciudad" placeholder="Ingrese su ciudad" required>
            </div>
              
            <div style="margin-bottom: 10px;">
                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" name="mensaje" rows="5" style="width: 30%;" required></textarea>
            </div>

            <div style="margin-bottom: 10px;">
                <input type="submit" value="Enviar">
            </div>
        </form>
        
 <footer>
<p>Copyright 2023 - <b>DonCacho PetShop</b> - Diseñado por Grupo 22 – Jujuy – República Argentina </p>
</footer>

    </body>
</html>