<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8">
        <title>CONTACTANOS</title>
		<link rel="stylesheet" th:href="@{css/estilos.css}">
    </head>


<body>

	<header th:replace="~{layouts/header :: header}"></header>
	
	<div class="container-contacto">
  		<div id="contactenos">
			<h1>CONTÁCTENOS</h1>
		</div>

      
    <div class="row-contacto">
        <div class="column-contacto-direccion">
            <p>3915 Av. General Belgrano, 388-4999999</p>
            <p>Lunes a viernes: 9:00 a.m a 8:00 p.m</p>
            <p>Sábado a domingo: 9:00 a.m a 12:30 p.m</p>

            <div class="imagen-contacto">
                <img th:src="@{images/contacto.png}" alt="Imagen de un perro y un gato">
            </div>


            <div class="redes-sociales">
                <a href="https://www.google.com/intl/es-419/gmail/about/">contactos@mail.com.ar</a>
                <ul>
                    <li><a href="https://es-la.facebook.com/" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li><a href="https://twitter.com/?lang=es" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </div>


        <div class="column-contacto">
            <form th:if="${mensaje eq null}" th:action="@{/contactos}" method="post" th:object="${formContacto}">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="inputs" th:field="*{nombre}" placeholder="Ingrese su nombre" required>
                
                <label for="email">Email</label>
                <input type="email" id="email" class="inputs" th:field="*{email}" placeholder="Ingrese un email válido" required>
              
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" class="inputs" th:field="*{ciudad}" placeholder="Ingrese su ciudad" required>
            
              
                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" th:field="*{mensaje}" class="inputs" rows="5" required></textarea>

                <input type="submit" class="contacto-enviar" value="Enviar">
                
            </form>
            
              <!-- Mensaje de agradecimiento -->
              <div class="mensaje-formulario">
              		<p  th:if="${mensaje}" th:text="${mensaje}"></p>
              </div>
        </div>
        </div>
    </div>
 

    <footer th:replace="~{layouts/footer :: footer}"></footer>

</body>
</html>