<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header> 
</header>
<nav>
<ul>
<li><a href="index.html">INICIO</a> </li>
<li><a href="productos.html">PRODUCTOS</a> </li>
<li><a href="consejos.html">CONSEJOS PARA LA SALUD</a> </li>
<li><a href="serviciospaseo.html">SERVICIOS DE PASEOS</a> </li>
<li><a href="sucursales.html">SUCURSALES</a> </li>
<li><a href="contactos.html">CONTACTANOS</a> </li>
</ul>
</nav>
</body>
</html>