<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

<meta charset="UTF-8">

<title>Don Cacho Petshop</title>

<link rel="stylesheet" th:href="@{/css/estilos.css}">

</head>



<header th:replace="~{/layouts/header :: header}"></header>



<body id=cuerpoproducto>

<h2 id="lista">Lista de productos</h2>



<article id=productos_articulos>



<section>

<img alt="gato dentro de una cama" th:src="@{/images/cuchitagato.jpeg}" width="300" title="Gato en su cama">
<p><b><i>  </i></b></p>
<h1>Camita para michi.</h1>

<p>Traida del exterior.</p> 

<h2>$30.000</h2>

</section>



<section>

<img alt="Perro acostado en su cama"  th:src="@{/images/perrocucha.jpg}" width="300" title="Perro en su cama">
<p><b><i>  </i></b></p>
<h1>Cama para perros.</h1>

<p>Cama grande y suave para perros.</p>

<h2>$10.000</h2>

</section>



<section>

<img alt="bolsa de alimento para perros"  th:src="@{/images/alimentoperro1.jpg}" width="300" title="Bolsa de alimento pedigree 20kg para perro">
<p><b><i>  </i></b></p>
<h1>Alimento Pedigree 20Kg</h1>

<p>Una dieta balanceada para el perro.</p> 

<h2>$12.000</h2>

</section>



<section>

<img alt="Bolsa de alimento para gatos" th:src="@{/images/alimentogato1.jpg}" width="300" title="Bolsa de alimento Sabrositos Mix para gato 20kg">
<p><b><i>  </i></b></p>
<h1>Alimento Sabrositos Mix 20Kg</h1>

<p>Alimento para gatos adultos balanceada.</p>

<h2>$8.000</h2>

</section>



<section>

<img alt="Gato jugando con su rascador" th:src="@{/images/juguetegato.jpg}" width="300" title="Gato con su rascador">
<p><b><i>  </i></b></p>
<h1>Rascador</h1>

<p>Jueguete para tu felino y ayuda al estres.</p> 

<h2>$25.000</h2>

</section>



<section>

<img alt="perro mascando su mascador" th:src="@{/images/jugueteperro.jpg}" width="300" title="Perro con su mascador">
<p><b><i>  </i></b></p>
<h1>Mascador y limpiador de dientes</h1>

<p>Juguete para tu perro.</p> 

<h2>$6.000</h2>

</section>

</article> 





<section id="contenido_producto">
 <a id="agregaprodu" th:href="@{/productos/nuevo}">Agregar producto</a>


<table>

    <tr>

        <th>Nombre</th>

        <th>Código</th>

        <th>Precio</th>

        <th>Categoría</th>

        <th>Descuento</th>

        <th>Precio con Descuento</th>
        
       

    </tr>

    <tr th:each="Produ : ${productos}">

        <td th:text="${Produ.nombre}"></td>

        <td th:text="${Produ.codigo}"></td>

        <td th:text="${Produ.precio}"></td>

        <td th:text="${Produ.categoria}"></td>

        <td th:text="${Produ.descuento}"></td>

        <td th:text="${Produ.calcularDescuento()}"></td>

          <td>


        
 		<a th:href="@{/productos/modificar/}+${Produ.codigo}">Editar</a>
      	
                    

        </td>
        <td>
        <form th:action="@{/productos/eliminar/{id}(id=${Produ.codigo})}" method="get">
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?')">Eliminar</button>
                </form>        
        </td>

    </tr>

</table>
</section>
	















</body>



<footer class="productos_footer">
<p>Copyright 2023 - <b>DonCacho PetShop</b> - Diseñado por Grupo 22 – Jujuy – República Argentina </p>
</footer>
</html>
