<!DOCTYPE html>
<html lang=s>
<head>
<meta charset="UTF-8">
<title>Don Cacho Petshop</title>
</head>

<body>
<h1><img src="../static/michimemeinteligente.jpg" alt="michi1" width="50">
Productos en stock</h1>
<h2>
Lista de productos
</h2>
<article>

<section>
<img alt="gato dentro de una cama" src="../static/cuchitagato.jpeg" width="300" title="Gato en su cama">
<h1>Camita para michi.</h1>
<p>Traida del exterior con la mejor calidad para la comodidad de tu gato.</p>
<h2>$30.000</h2>
</section>

<section>
<img alt="Perro acostado en su cama" src="../static/perrocucha.jpg" width="300" title="Perro en su cama">
<h1>Cama para perros.</h1>
<p>Cama grande y suave para perros.</p>
<h2>$10.000</h2>
</section>

<section>
<img alt="bolsa de alimento para perros" src="../static/alimentoperro1.jpg" width="300" title="Bolsa de alimento pedigree 20kg para perro">
<h1>Alimento Pedigree 20Kg</h1>
<p>Una dieta balanceada para el perro de la casa con la mejor calidad</p>
<h2>$12.000</h2>
</section>

<section>
<img alt="Bolsa de alimento para gatos" src="../static/alimentogato1.jpg" width="300" title="Bolsa de alimento Sabrositos Mix para gato 20kg">
<h1>Alimento Sabrositos Mix 20Kg</h1>
<p>Alimento para gatos adultos balanceada.</p>
<h2>$8.000</h2>
</section>

<section>
<img alt="Gato jugando con su rascador" src="../static/juguetegato.jpg" width="300" title="Gato con su rascador">
<h1>Rascador</h1>
<p>Excelente jueguete para tu felino y ayuda con su estres.</p>
<h2>$25.000</h2>
</section>

<section>
<img alt="perro mascando su mascador" src="../static/jugueteperro.jpg" width="300" title="Perro con su mascador">
<h1>Mascador y limpiador de dientes</h1>
<p>Juguete excelente para tu perro y ayuda al cuidado de sus dientes.</p>
<h2>$6.000</h2>
</section>

</article> 
<!-- comentario -->
</body>
</html>
