<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	
	<meta charset="UTF-8">
	<title>Servicio de Paseos</title>
	<link rel="stylesheet" th:href="@{css/estilos.css}">
	
</head>

<body class="body_sucursales-paseo">
		
		<header th:replace="~{layouts/header :: header}"></header>		
		
	
			<div class="div_paseo">
				
						<!-- TABLA DE TURNOS DE PASEADORES -->
						<table border="1" class="tabla_paseo">
								<tr>
									<th class="th"><b><a>Día</a></b></th>
									<th class="th"><b><a>Lunes</a></b></th>
									<th class="th"><b><a>Martes</a></b></th>
									<th class="th"><b><a>Miércoles</a></b></th>
									<th class="th"><b><a>Jueves</a></b></th>
									<th class="th"><b><a>Viernes</a></b></th>
									<th class="th"><b><a>Sábado</a></b></th>
								</tr>
								<tr>
									<td class="th"><b><a>Horario</a></b></td>
									<td class="th"><a>9 a 12 - 16 a 18</a></td>
									<td class="th"><a>9 a 12 - 16 a 18</a></td>
									<td class="th"><a>9 a 12 - 16 a 18</a></td>
									<td class="th"><a>9 a 12 - 16 a 18</a></td>
									<td class="th"><a>9 a 12 - 16 a 18</a></td>
									<td class="th"><a>9 a 12 - 16 a 18</a></td>
								</tr>
								<tr>
									<td class="th"><b><a>Paseador</a></b></td>
									<td class="th"><a>Joaquin Burgos</a></td>
									<td class="th"><a>Nicolas Cruz</a></td>
									<td class="th"><a>Mateo Garcia</a></td>
									<td class="th"><a>Araceli Lopez</a></td>
									<td class="th"><a>Joaquin Burgos</a></td>
									<td class="th"><a>Mateo Garcia</a></td>
								</tr>
						</table>
			</div>
				
	<aside class="index_aside">
		<p><b>Contenido relacionado</b></p>
		<div>
			<a href="https://www.clarin.com/viste/elegir-mejor-tipo-alimento-perro_0_rM6xA8m02v.html" target="blank">Como elegir el mejor alimento para tu perro (Clarin)</a><br>
			<img th:src="@{images\perro.png}">
		</div>
		<div><br>
			<a href="https://www.latercera.com/practico/noticia/consejos-para-escoger-el-mejor-alimento-para-gatos/4WMDLEAJ5BFOVH2UDARSPXDBCE/" target="blank">Como elegir el mejor alimento para tu gato (LaTercera)</a><br>
			<img th:src="@{images\gato.png}" >
		</div>
	
	</aside>
		
	
		
		
		
	<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>  