 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	
	<meta charset="UTF-8">
	<title>Sucursales</title>
	<link rel="stylesheet" th:href="@{css/estilos.css}">
	
</head>

<body class="body_sucursales-paseo">
		
		<header th:replace="~{layouts/header :: header}"></header>	
	
			<section id="content-sucursal">
			
				<a th:href="@{/sucursal/nuevo}">Nueva Sucursal</a><br>
						<!-- TABLA DE TURNOS DE PASEADORES -->
					<table border="1" class="tabla_sucursal">
								
								<caption id="cap">Visita Nuestras Sucursales</caption>
								
								<tr>
									<th class="th">Tienda</th>
									<th class="th">Foto</th>
									<th class="th">Direccion</th>
									<th class="th">Fecha de Inicio</th>
									<th class="th">Email</th>
									<th class="th">Contactanos</th>
									<th class="th">Grupo WPP</th>
								</tr>

								<tr th:each="sucu: ${sucursales}">
									<td th:text="${sucu.nombre}"></td>
									<td th:text="${sucu.foto}"></td>
									<td th:text="${sucu.doreccion}"></td>
									<td th:text="${#temporals.format(sucu.fechaInicio, 'dd/MM/yyy')}"></td>
									<td th:text="${sucu.email}"></td>
									<td th:text="${sucu.teledono}"></td>
									<td th:text="${sucu.grupo}"></td>
								</tr>
							
					</table>
			</section>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	
</body>
</html> 