 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	
	<meta charset="UTF-8">
	<title>Sucursales</title>
	<link rel="stylesheet" th:href="@{../css/estilos.css}">
	
</head>

<body class="body_sucursales-paseo">
		
		<header th:replace="~{layouts/header :: header}"></header>	
	
			<section id="content-sucursal">
			
				<a th:href="@{/sucursales/nuevo}">Nueva Sucursal</a><br>
						<!-- TABLA DE TURNOS DE PASEADORES -->
					<table border="1" class="tabla_sucursal">
								
								
								
								<tr>
									<th class="th">Tienda</th>
									<th class="th">direccion</th>
									<th class="th">Provicia</th>
									<th class="th">Fecha de Inicio</th>
									<th class="th">Email</th>
									<th class="th">Contactanos</th>
									
								</tr>

								<tr th:each="sucu: ${sucursales}">
									<td th:text="${sucu.nombre}"></td>
									<td th:text="${sucu.direccion}"></td>
									<td th:text="${sucu.provincia}"></td>
									<td th:text="${#temporals.format(sucu.fechaInicio, 'dd/MM/yyy')}"></td>
									<td th:text="${sucu.email}"></td>
									<td th:text="${sucu.telefono}"></td>
									<td>
										<a th:href="@{/sucursales/modificar/}+${sucu.nombre}">Editar</a>
										<a th:href="@{/sucursales/eliminar/}+${sucu.nombre}">Eliminar</a>
									</td>
							</tr>
					</table>
			</section>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	
</body>
</html> 